<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:https="http://www.w3.org/1999/xhtml">
    <head>
    <meta charset="utf-8">
    <title>Flavored Texts!</title>
    <link rel="stylesheet" href="static/css/master.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="black_bg">
        <header class="header">
            <div class="header-inner grid">
                <div class="logo">
                Flavored Text!
                </div>
                <div class="logo">
                Also has restful api on /api
                </div>
            </div>
        </header>
        <section class="main">
            <div class="main-inner grid">
                <div class="main-info">
                    <span class="main-info__title">{{ text }}</span>
                </div>
            </div>
        </section>
    </body>
</html>